@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/500.css";
@import "@fontsource/dm-sans/700.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@import "tailwindcss";

@theme {
    --color-primary: #1E1E1E;
    --color-accent: #e3642d;
    --color-background: #FAFAFA;
    --color-text: #222;

    --font-heading: "DM Sans", sans-serif;
    --font-body: "Open Sans", sans-serif;
}

@layer base {
    body {
        @apply bg-background text-text font-body;
    }
}

ol, ul {
    list-style: revert;
}

.w-md-editor {
    border-radius: 0 !important;
}

.w-md-editor-text-input, .w-md-editor-text-pre .code-line {
    font-size: 1rem !important;
    line-height: 2rem !important;
}

.w-md-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    width: 50%;
    z-index: 1;
    padding: 5px !important;
}

.w-md-editor-toolbar button {
    width: 25px !important;
    height: 25px !important;
}

.w-md-editor-toolbar button svg {
    width: 15px !important;
    height: 15px !important;
    color: #3d4947;
}

.w-md-editor-content {
    padding-top: 27px;
}

@media (max-width: 860px) {
    .w-md-editor-content {
        padding-top: 50px;
    }
}

.wmde-markdown {
    font-family: 'Inter', sans-serif !important;
}

@media print {
    html, body, #root, main, .w-md-editor-preview {
        all: unset;
    }

    * {
        overflow: visible !important;
        page-break-inside: auto !important;
        break-inside: auto !important;
    }

    .w-md-editor-show-preview,
    .w-md-editor-preview {
        border: none;
        box-shadow: none !important;
    }

    pre, code {
        white-space: pre-wrap !important;
        word-break: break-word !important;
        overflow-wrap: break-word !important;
    }

    @page {
        size: A4;
        margin: 1.5cm;
    }
}
