@import "@fontsource/dm-sans/400.css";
@import "@fontsource/dm-sans/500.css";
@import "@fontsource/dm-sans/700.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@import "tailwindcss";

@theme {
    --color-primary: #1E1E1E;
    --color-accent: #e3642d;
    --color-background: #FAFAFA;
    --color-text: #222;

    --font-heading: "DM Sans", sans-serif;
    --font-body: "Open Sans", sans-serif;
}

@layer base {
    body {
        @apply bg-background text-text font-body;
    }
}

ol, ul {
    list-style: revert;
}

.w-md-editor {
    border-radius: 0 !important;
}

.w-md-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    width: 50%;
}

.w-md-editor-content {
    padding-top: 27px;
}

@media (max-width: 860px) {
    .w-md-editor-content {
        padding-top: 50px;
    }
}

.wmde-markdown {
    font-family: 'Inter', sans-serif !important;
}

@media print {
    * {
        visibility: hidden;
    }

    .w-md-editor-preview, .w-md-editor-preview * {
        border: none;
        visibility: visible;
    }

    .w-md-editor-preview {
        position: fixed !important;
        left: 0;
        top: 0;
        width: 100% !important;
        box-shadow: none !important;
    }

    pre, code {
        white-space: pre-wrap !important;
        word-break: break-word !important;
        overflow-wrap: break-word !important;
    }
}
