@import '@fontsource/dm-sans/400.css';
@import '@fontsource/dm-sans/500.css';
@import '@fontsource/dm-sans/700.css';
@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/500.css';
@import '@fontsource/open-sans/700.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';
@import 'tailwindcss';

@theme {
    --color-primary: #1e1e1e;
    --color-accent: #e3642d;
    --color-background: #fafafa;
    --color-text: #222;

    --font-heading: 'DM Sans', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

@layer base {
    body {
        @apply bg-background text-text font-body;
    }
}

ol,
ul {
    list-style: revert;
}

.w-md-editor {
    border-radius: 0 !important;
}

.w-md-editor-text-input,
.w-md-editor-text-pre .code-line {
    font-size: 1rem !important;
    line-height: 2rem !important;
}

.w-md-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    width: 50%;
    z-index: 1;
    padding: 5px !important;
}

.w-md-editor-toolbar button {
    width: 25px !important;
    height: 25px !important;
}

.w-md-editor-toolbar button svg {
    width: 15px !important;
    height: 15px !important;
    color: #3d4947;
}

.w-md-editor-content {
    padding-top: 27px;
}

@media (max-width: 860px) {
    .w-md-editor-content {
        padding-top: 50px;
    }
}

.wmde-markdown {
    font-family: 'Inter', sans-serif !important;
}

@media print {
    header,
    footer,
    #editor-header-bar,
    .w-md-editor-toolbar,
    .w-md-editor-input,
    .w-md-editor-area {
        display: none !important;
    }

    #editor-container,
    .w-md-editor,
    .w-md-editor-content,
    .w-md-editor-preview,
    .wmde-markdown {
        height: auto !important;
    }

    html,
    body,
    main,
    .w-md-editor,
    .w-md-editor-content {
        overflow: visible !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    body {
        background: unset;
    }

    main {
        border: none;
        box-shadow: none !important;
    }

    .w-md-editor-preview {
        position: static !important;
        width: 100% !important;
        box-shadow: none !important;
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    @page {
        size: A4;
        margin: 2cm;
    }
}
