@import "tailwindcss";

.w-md-editor {
    border-radius: 0 !important;
}

.w-md-editor-toolbar {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 !important;
    width: 50%;
}

.w-md-editor-content {
    padding-top: 27px;
}